@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800&display=swap');

body {
   font-family: 'Raleway', sans-serif;
   width: 100%;
   height: fit-content;
   margin: auto;
   color: rgb(0, 0, 79);
}

/* General styles */

a,
button {
   cursor: pointer;
}

a {
   text-decoration: none;
}

button {
   background-color: rgb(88, 51, 255);
   color: white;
   border: none;
   border-radius: 3px;
   font-family: 'Raleway', sans-serif;
   transition: 0.1s background-color;
}



button:hover {
   background-color: rgb(28, 1, 148);
}

button:active {
   background-color: rgb(152, 152, 152);
}

/* header Style */

#header-bar {
   display: flex;
   height: 40px;
   width: 100%;
   align-items: center;
   justify-content: space-between;
   margin-top: 20px;
   margin-bottom: 10px;
}

#header-bar>div:first-child {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 60%;
}

#header-bar>div>a {
   color: rgb(43, 37, 71);
}

#header-bar>div:nth-child(2) {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 18%;
}

#header-bar>div:nth-child(2)>button {
   width: 100px;
   height: 40px;
}

#header-bar>div:nth-child(1)>input {
   box-sizing: border-box;
   height: 40px;
   width: 250px;
   padding-left: 30px;
   border: 1px solid rgb(135, 135, 135);
   border-radius: 5px;
}


/* main Container design  */

#mainContainer {
   width: 80%;
   height: fit-content;
   margin: auto;
}

/* Subcontainer1 styles  */

#subContainer1 {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 5%;
   margin-bottom: 5%;
}

#subContainer1>div:first-child {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   width: 50%;

}

#subContainer1>div:first-child>button {
   width: 300px;
   height: 70px;
   font-weight: bold;
   font-size: 25px;
}

#subContainer1>div:first-child>h1 {
   font-size: 35px;
   font-weight: 600;
   position: relative;
   top: -30px;
}

#subContainer1>div:nth-child(3) {
   margin-left: 50px;
}

/* subcontainer2 style */

#mainContainer1 {
   display: grid;
   grid-template-columns: 40% 1fr;
   width: 100%;
   height: 30rem;
   margin: auto;
   margin-top: 7%;
   margin-bottom: 7%;
   border-radius: 50px;
   border-width: 1px;
   border-style: solid;
   border-color: rgb(179, 179, 184);
   transition: 1s box-shadow;
}

#mainContainer1:hover {
   box-shadow: 8px 8px 100px rgb(189, 189, 189);
}

#imgArrow {
   position: relative;
   top: -250px;
   right: -300px;
   z-index: -1;
}

.div1 {
   background-color: rgb(74, 78, 123);
   border-top-left-radius: 50px;
   border-bottom-left-radius: 50px;
   padding-left: 50px;
   padding-right: 50px;
   padding-top: 30px;
   color: white;
   box-sizing: border-box;
   line-height: 40px;
   z-index: -1;
   height: 30rem;
}

.div1>h2 {
   color: yellow;
}

#div2 {
   padding-left: 40px;
   padding-right: 40px;
   background: url("try-out-arrow.svg");
   background-repeat: no-repeat;
   background-position: 20px;

}

#div2>p {
   margin-top: -20px;
}

#codeContainer {
   width: 100%;
   height: 50px;
   background-color: black;

}

#codeContainer>p {
   font-family: 'Courier New', Courier, monospace;
   color: chartreuse;
   padding: 10px;
   margin: 0px;
}

#codeContainer>p>span {
   color: white;
}

#checkingQuestion {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 50% 50%;
   grid-gap: 10px;
   margin-top: 100px;

}

#checkingQuestion>div {
   font-family: 'Courier New', Courier, monospace;
   box-sizing: border-box;
   border: 1px solid rgb(182, 182, 182);
   background-color: white;
   width: 100%;
   height: 50px;
   border-radius: 5px;
   padding: 10px;
   box-shadow: 1px 1px 100px rgb(171, 171, 171);
   /* z-index: 120; */
}


#div2>button {
   margin-top: 40px;
   margin-left: 60%;
   width: 200px;
   height: 40px;
}

/* subContainer 3 style */

#subContainer2 {
   width: 100%;
   height: fit-content;
   padding-top: 50px;
   background-color: rgb(245, 226, 202);
   text-align: center;
}

/* gridTable Style */

#gridTable {
   display: flex;
   width: 60%;
   height: 150px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: auto;
   margin-bottom: 5%;
}

#gridTable>div {
   width: 30%;
   height: 100%;
   border: 1px solid rgb(157, 157, 157);
   border-radius: 10px;
   background-color: white;
   text-align: left;
   padding: 20px;
   box-sizing: border-box;
   font-weight: bolder;
}

#gridTable>div>button {
   width: 200px;
   height: 50px;
}

#gridTable> :nth-child(3) {
   display: flex;
   justify-content: center;
   align-items: center;
}

/* gridTable2 Style */


#gridTable2 {
   display: flex;
   width: 80%;
   height: 20rem;
   justify-content: space-between;
   align-items: center;
   background-color: rgb(29, 29, 236);
   margin: auto;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   color: white;
   text-align: left;
   font-weight: 600;
   line-height: 30px;
}

#gridTable2>div {
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 30%;
   height: 100%;
}

#divAfter {
   content: "";
   width: 1px;
   height: 70%;
   background-color: white;
   border-radius: 50%;
}

#gridTable2>img {
   height: 100%;
}

#gridTable2>div>ol {
   position: relative;
   left: -20px;
}

#gridTable2>div>h2 {
   margin: 0;
}

/* subContainer3 Style */

#subContainer3 {
   display: flex;
   height: fit-content;
   width: 80%;
   margin: auto;
   margin-top: 10%;
   margin-bottom: 10%;

}

#subContainer3>div:first-child {
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: 20rem;
   background-color: rgb(0, 0, 78);
   border-radius: 20px;
}

#subContainer3>div:first-child>div:first-child {
   padding: 60px;
}

#subContainer3>div:first-child>div:first-child>a {
   font-size: 20px;
   color: white;
}

#subContainer3>div:first-child>img {
   border-bottom-right-radius: 20px;
   border-top-right-radius: 20px;

}

/* subContainer4 style */
#subContainer4 {
   width: 100%;
   height: fit-content;
   background-color: beige;
   text-align: center;
   padding-top: 5%;
   padding-bottom: 5%;

}

#subContainer4>div {
   display: flex;
   width: 80%;
   height: 600px;
   margin: auto;
   justify-content: space-between;
   align-items: center;
}

#subContainer4>div>div:first-child {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   width: 60%;
   height: 100%;
}

#subContainer4-part1>div {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 90%;
   height: 25%;
   background-color: azure;
   border-radius: 10px;
   border: 1px solid rgb(205, 205, 205);
   box-shadow: 2px 3px 20px rgb(210, 210, 210);
   text-align: left;
   font-weight: 700;
   padding-left: 30px;
   box-sizing: border-box;
   color: blue;
   font-size: 14px;
}

#subContainer4>div>img {
   width: 75%;
}

/* subContainer5 style  */

#subContainer5 {
   display: flex;
   box-sizing: border-box;
   width: 80%;
   height: 40rem;
   margin: auto;
   margin-top: 5%;
   margin-bottom: 10%;
   font-weight: bold;
   font-size:20px;
}

#subContainer5>div {
   display: flex;
   flex-direction: column;
   width: 50%;
   height: 100%;
   margin-left: 10px;
   margin-right: 10px;
   color: white;
 
}

#subContainer5 > div:first-child > div{
   background-color: blue; 
   height: 100%;
   border-radius: 20px;
}
#subContainer5 > div:first-child > h1{
   color: rgb(0, 0, 79);
}

#subContainer5 > div:nth-child(2) > div{
   
   margin-top: 20px;
   height: 50% ;
   background-color: rgb(255, 221, 206);
   border-radius: 20px;
   color: rgb(112, 25, 25) ;
}

#subContainer5 > div > div > img {
   border-top-left-radius: 20px ;
}
#subContainer5 > div:first-child > div > div{
   padding-top: 50px;
   width: 80%;
   margin: auto;
   line-height: 30px;
}
#subContainer5 > div:nth-child(2) > div > div{
   position: relative;
   top: -90px;
   left: 170px;
   width: 60%;
   line-height: 25px;
}
#subContainer5 > div:nth-child(2) > div:nth-child(2){
   background-color: rgb(4, 18, 60);
   color: white;

}

/* subContainer6 style */

#subContainer6{
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: rgb(237, 234, 255);
   height: 22rem;
   margin-bottom: 5%;
}

#footer-part1{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 80%;
}
#footer-part1 > div > button{
   background-color: beige;
   color: rgb(8, 21, 67);
   width: 150%;
   height: 50px;
   font-weight: bold;
   font-size: 16px;
}
#footer-part1 > img{
   position: relative;
   top: -50px;
}


/* subContainer 7 style */

#subContainer7 > div:first-child{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 60%;
   line-height: 30px;
   font-size: 14px;
}

#subContainer7 > div:first-child > div {
   display: flex;
   flex-direction: column;
   width: 20%;
   
}

#footer-part2 ::after{
   content: "";
   width: 1px;
   height: 100%;
   color: black;

}
